body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}

div, p, input, button, form {
	box-sizing: border-box;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}

.container {
	display: flex;
	padding: 0 45px;
}

#header {
	background: #22a2ec;
	color: #fff;
	padding: 30px 45px;
}
#footer {
	background: #22a2ec;
	color: #fff;
	padding: 30px 0;
}

.logo {
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin-right: 127px;

}

.main-menu {
	padding: 0px;
	margin: 0px;
}

.menu-item {
	float: left;
	margin: 0px 27px 0px 0px;
	display: block;
}

.menu-item a {
	color: #fff;
	font-weight: bold;
}

.phone {
	font-weight: bold;
	font-size: 18px;
	float: right;
}
h1 {
	font-size: 28px;
	margin-top: 52px;
}
#description .name {
	width: 300px;
	height: 23px;
	margin: 54px 116px 30px 42px;
	font-family: Arial;
}
#first .item p {
	width: 292px;
	height: 146px;

}

.item {
	box-sizing: border-box;
	margin: 0px 55px 40px 0;
	text-overflow: ellipsis;
	padding: 32px 36px 32px 30px;
	border: solid 1px #d6d6d6;
}
#first .second {
	margin: 0 50px 40px 0;
	border: 5px solid #d6d6d6;
	text-overflow: ellipsis;
}
#first .third {
	margin: 0 0 40px 0;
	border: 0;
	box-shadow: 0 0 30px;

}
.name {
	margin: 45px;
}

.it {
 display: block;

}

.lower-item {
	display: block;
	float: left;
	margin: 0px 27px 0px 0px;
}

.emlogo {
	float: right;
	margin-left: auto;
	padding: 15px 0;
}
#footer .copyright {
	padding: 15px 0;
}
.second-description {
	margin: 0 0 55px 0;
	color: #ffffff;
	background: #184c6b;
	text-align: left;
	height: 200px;
}

#more {
	display: none;
}
#description .block-description .Input {
	padding: 17px 24px;
	margin-bottom: 12px;
	width: 239px;
	height: 46px;
}
#description .container {
	width: 100%;
	display: flex;
}
#description .block-description {
	width: 359px;
	margin-right: 59px;
}
#description .second-description {
	width: 317px;
	height: 148px;
}
.message {
	width: 336px;
	height: 124px;
	padding: 17px 0 0 23px;
	margin-bottom: 11px;
}
.dem {
	background: #184c6b;
	margin-bottom: 50px;
	display: flex;
	width: 771px;
	height: 301px;
	justify-content: space-between;
}
#description h3 {
	padding-left: 38px;
	font-size: 21px;
	padding-top: 10px;
	color: #c0ddee;
}
#description .second-description p {
	width: 317px;
	height: 168px;
	padding-left: 38px;
	padding-top: 10px;
	color: #c0ddee;
}


#description form button {
	background-color: #ebce0d;
	margin-bottom: 22px;
	width: 166px;
	height: 43px;
}
#footer .lower-item a {
	border: 1px solid black;
	border-radius: 2px;
	padding: 13px 15px;
	color: white;
}
#footer .lower-yung a {
	border-radius: 20px;
	color: white;
}
#footer .lower-thug a {
	border-radius: 8px;
	background-color: white;
	border: 0;
	color: #22a2ec;
}
#description .img {
	padding: 85px 44px 79px 60px;
}
#description .img p{
	color: white;
	font-size: 15px;
	margin-top: 0;
	padding-top: 10px;
	color: #c0ddee;
}
#description .rights {
	margin-bottom: 40px;
}
